body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(247, 246, 246);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(34, 34, 37);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid rgb(0, 0, 2);  /* creates padding around scroll thumb */
}